.fondo{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
   url('./20424650.jpg'); 
   background-size: cover;
   width: 100%;
   height: 100vh;
}